.window {
  height: 100%;
  background-color: black;
  border-radius: 0.75rem;
  overflow: hidden;

  color: rgb(170, 170, 170);
  font-family:
    system-ui,
    -apple-system,
    BlinkMacSystemFont,
    "Segoe UI",
    Roboto,
    Oxygen,
    Ubuntu,
    Cantarell,
    "Open Sans",
    "Helvetica Neue",
    sans-serif;
  font-weight: 500;

  .nav {
    padding-inline: 0.75rem;
    padding-block: 0.5rem;
    border-bottom: 1px solid rgba(245, 245, 245, 0.25);

    display: flex;
    gap: 1.5rem;
    align-items: center;

    .dots {
      display: flex;
      gap: 0.25rem;

      .dot {
        height: 15px;
        width: 15px;
        background-color: white;
        border-radius: 50%;
      }

      .red {
        background-color: #eb3535;
      }
      .yellow {
        background-color: rgb(245, 245, 80);
      }
      .green {
        background-color: rgb(28, 228, 0);
      }
    }
  }
  .main-content {
    height: 100%;
  }

  *::-webkit-scrollbar {
    width: 8px;
  }

  *::-webkit-scrollbar-thumb {
    background-color: rgba(168, 168, 168, 0.5);
    border-radius: 4px;
  }
}
