.dock {
  position: absolute;
  display: flex;
  align-items: flex-end;

  bottom: 1rem;
  gap: 1rem;
  left: 50%;
  transform: translateX(-50%);
  padding-inline: 1rem;
  padding-block: 0.8rem;

  background: rgba(255, 255, 255, 0.15);
  backdrop-filter: blur(12px);
  border-radius: 18px;

  .icon {
    width: 36px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    aspect-ratio: 1 / 1;
    transition: transform 0.35s cubic-bezier(0.22, 1, 0.36, 1);
  }

  .icon img,
  .icon svg {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .icon:hover {
    transform: scale(1.35) translateY(-22%);
  }
  .icon:hover + .icon,
  .icon:has(+ .icon:hover) {
    transform: scale(1.2) translateY(-10%);
  }
}
